__pycache__/
*.pyc
.venv/
.env/
.env
.claude/
.vscode/
venv/

**/migrations/*
!**/migrations/__init__.py

media/
staticfiles/

postgres_data/
redis_data/


celerybeat-schedule
celerybeat-schedule.db

migrate_v5.sql
prod.sql